#body {
    margin-left: 200px;
    margin-right: 200px;
}

#title {
    width: 300px;
}

#lists {
    background-color: rgb(127, 172, 202);
    padding: 10px;

}

.social-media {
    display: inline;
    width: 40px;
    float: right;
}

#Photo1, #Photo2, #Photo3, #Photo4 {
    width: 215px;
}
#order {
    display: inline;
    width: 20%;
    float: left;
}
#permbajtja {
    width: 79%;
    float: right;
}

#carrot-cake {
    width: 672px;

}

.answers {
    margin-left: 20px;
}

#footer {
    background-color: aqua;
    
}
#footer1 {
    width: 40%;
    height: 110px;
    float: left;
}

#footer2 {
    float: center;

}